.index {
  .postsList {
    .postTitle {
      background-color: var(--primary-color);
      font-family: Montserrat, sans-serif;
      padding: 0.3em;
      display: table;
    }

    a {
      box-shadow: none;
    }
  }
}
