.index {
  .postsList {
    .postTitle {
      a {
        font-family: Montserrat, sans-serif;
        display: table;
        box-shadow: none;
        padding: 0.3em;
        background-color: var(--primary-color);
      }
    }
  }
}
