.alert {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
  cursor: pointer;
  padding: 0.6rem 1.2rem;
  font-family: Montserrat, sans-serif;
  background-color: var(--secondary-color);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.59);
  user-select: none;
  transition: filter var(--transition-duration);

  &:active {
    filter: brightness(1.05);
  }
}
